.se-container{
	display: block;
	width: 100%;
    overflow: hidden;
	padding: 120px 0px 10px 0px;
}
.se-slope{
	margin: 0 -50px;
	-webkit-transform-origin: left center;
    -moz-transform-origin: left center;
    transform-origin: left center;
    background: #26b9cc;
	-webkit-transform: rotate(-5deg);
    -moz-transform: rotate(-5deg);
    transform: rotate(-5deg);
	margin-top: 40px;
	-webkit-box-shadow: 0px 0px 30px -4px rgba(0,0,0,0.5);
    -moz-box-shadow: 0px 0px 30px -4px rgba(0,0,0,0.5);
    box-shadow: 0px 0px 30px -4px rgba(0,0,0,0.5);
}
.se-slope .se-content{
	-webkit-transform: rotate(5deg);
    -moz-transform: rotate(5deg);
    transform: rotate(5deg);
	color: white;
	padding: 130px 100px 250px 100px;
}
