/**
 * Tuktuk - Simple (but powerful) RWD Framework
 * @version v1.0.0
 * @link    http://tuktuk.tapquo.com
 * @author   ()
 * @license MIT
 */
@import url("http://fonts.googleapis.com/css?family=Open+Sans:400,700");
@import url("http://fonts.googleapis.com/css?family=Roboto:100,100italic,300,300italic,400");
body{color:#222;background:#fff;font-size:16px;font-family:"Open Sans","Helvetica Neue",Helvetica,sans-serif;font-weight:400;}
body a{color:#222;}
body a:not(.button):hover,body a:not(.button):active{color:#26b9cc}
body .bck.light{background-color:#ddd}
body .bck.dark{background-color:#222}
body .bck.theme{background-color:#26b9cc}
body .bck.theme,body .bck.dark{color:#fff;}
body .bck.theme a,body .bck.dark a{color:#fff;}
body .bck.theme a:not(.button):hover,body .bck.dark a:not(.button):hover,body .bck.theme a:not(.button):active,body .bck.dark a:not(.button):active{color:#fff}
body .bck.bg1 { background: url("../img/sport1.jpg")}
body .text.shadow{-webkit-text-shadow:0 1px 1px rgba(0,0,0,0.5);-moz-text-shadow:0 1px 1px rgba(0,0,0,0.5);-ms-text-shadow:0 1px 1px rgba(0,0,0,0.5);text-shadow:0 1px 1px rgba(0,0,0,0.5)}
body .color.white{color:#fff !important}
body .color:not(.bck).theme{color:#26b9cc !important}
body .color.default{color:#222 !important}
body strong{font-weight:700 !important}

[data-tuktuk=boxes] aside{color:#434343;}
[data-tuktuk=boxes] aside.absolute{-webkit-transition:all 300ms;-moz-transition:all 300ms;-ms-transition:all 300ms;transition:all 300ms}
[data-tuktuk=boxes] aside [data-menu] > a:not(.button){-webkit-border-radius:.05rem;-moz-border-radius:.05rem;-ms-border-radius:.05rem;border-radius:.05rem;}
[data-tuktuk=boxes] aside [data-menu] > a:not(.button).active{background:#26b9cc;color:#fff}

.button,button{font-weight:400;-webkit-border-radius:.1rem;-moz-border-radius:.1rem;-ms-border-radius:.1rem;border-radius:.1rem;-webkit-border-radius:2rem;-moz-border-radius:2rem;-ms-border-radius:2rem;border-radius:2rem;}
.button:not(.transparent):not(:disabled),button:not(.transparent):not(:disabled){color:#fff !important;background-color:#555;-webkit-box-shadow:inset 0 -1px rgba(0,0,0,0.1);-moz-box-shadow:inset 0 -1px rgba(0,0,0,0.1);-ms-box-shadow:inset 0 -1px rgba(0,0,0,0.1);box-shadow:inset 0 -1px rgba(0,0,0,0.1);}
.button:not(.transparent):not(:disabled):hover,button:not(.transparent):not(:disabled):hover{-webkit-box-shadow:inset 0 0 5em rgba(0,0,0,0.1),inset 0 -1px rgba(0,0,0,0.15);-moz-box-shadow:inset 0 0 5em rgba(0,0,0,0.1),inset 0 -1px rgba(0,0,0,0.15);-ms-box-shadow:inset 0 0 5em rgba(0,0,0,0.1),inset 0 -1px rgba(0,0,0,0.15);box-shadow:inset 0 0 5em rgba(0,0,0,0.1),inset 0 -1px rgba(0,0,0,0.15)}
.button:not(.transparent):not(:disabled):active,button:not(.transparent):not(:disabled):active{-webkit-box-shadow:inset 0 0 5em rgba(0,0,0,0.2),inset 0 1px rgba(0,0,0,0.2);-moz-box-shadow:inset 0 0 5em rgba(0,0,0,0.2),inset 0 1px rgba(0,0,0,0.2);-ms-box-shadow:inset 0 0 5em rgba(0,0,0,0.2),inset 0 1px rgba(0,0,0,0.2);box-shadow:inset 0 0 5em rgba(0,0,0,0.2),inset 0 1px rgba(0,0,0,0.2)}
.button:not(.transparent):not(:disabled).theme,button:not(.transparent):not(:disabled).theme{background-color:#26b9cc}
.button:not(.transparent):not(:disabled).success,button:not(.transparent):not(:disabled).success{background-color:#2ecc71}
.button:not(.transparent):not(:disabled).alert,button:not(.transparent):not(:disabled).alert{background-color:#e74c3c}
.button.transparent,button.transparent{background:none !important}
.button[disabled=disabled],button[disabled=disabled],.button:disabled,button:disabled{background-color:#414141;color:#303030 !important;-webkit-border-radius:.1rem;-moz-border-radius:.1rem;-ms-border-radius:.1rem;border-radius:.1rem;cursor:cursor}
.button .icon,button .icon{opacity:.5}

form input[type="text"],.form input[type="text"],form input[type="password"],.form input[type="password"],form input[type="date"],.form input[type="date"],form input[type="datetime"],.form input[type="datetime"],form input[type="email"],.form input[type="email"],form input[type="number"],.form input[type="number"],form input[type="search"],.form input[type="search"],form input[type="tel"],.form input[type="tel"],form input[type="time"],.form input[type="time"],form input[type="url"],.form input[type="url"],form select,.form select,form textarea,.form textarea{background-color:#fff;color:#222;border:1px solid #bdc3c7;-webkit-border-radius:.1rem;-moz-border-radius:.1rem;-ms-border-radius:.1rem;border-radius:.1rem;-webkit-transition:border-color 300ms;-moz-transition:border-color 300ms;-ms-transition:border-color 300ms;transition:border-color 300ms;background-color:#e5e7e9;}
form input[type="text"].error,.form input[type="text"].error,form input[type="password"].error,.form input[type="password"].error,form input[type="date"].error,.form input[type="date"].error,form input[type="datetime"].error,.form input[type="datetime"].error,form input[type="email"].error,.form input[type="email"].error,form input[type="number"].error,.form input[type="number"].error,form input[type="search"].error,.form input[type="search"].error,form input[type="tel"].error,.form input[type="tel"].error,form input[type="time"].error,.form input[type="time"].error,form input[type="url"].error,.form input[type="url"].error,form select.error,.form select.error,form textarea.error,.form textarea.error,form input[type="text"]:required,.form input[type="text"]:required,form input[type="password"]:required,.form input[type="password"]:required,form input[type="date"]:required,.form input[type="date"]:required,form input[type="datetime"]:required,.form input[type="datetime"]:required,form input[type="email"]:required,.form input[type="email"]:required,form input[type="number"]:required,.form input[type="number"]:required,form input[type="search"]:required,.form input[type="search"]:required,form input[type="tel"]:required,.form input[type="tel"]:required,form input[type="time"]:required,.form input[type="time"]:required,form input[type="url"]:required,.form input[type="url"]:required,form select:required,.form select:required,form textarea:required,.form textarea:required{border-color:#ed796d !important;color:#e74c3c;background-color:#fdedeb;}
form input[type="text"].error:focus,.form input[type="text"].error:focus,form input[type="password"].error:focus,.form input[type="password"].error:focus,form input[type="date"].error:focus,.form input[type="date"].error:focus,form input[type="datetime"].error:focus,.form input[type="datetime"].error:focus,form input[type="email"].error:focus,.form input[type="email"].error:focus,form input[type="number"].error:focus,.form input[type="number"].error:focus,form input[type="search"].error:focus,.form input[type="search"].error:focus,form input[type="tel"].error:focus,.form input[type="tel"].error:focus,form input[type="time"].error:focus,.form input[type="time"].error:focus,form input[type="url"].error:focus,.form input[type="url"].error:focus,form select.error:focus,.form select.error:focus,form textarea.error:focus,.form textarea.error:focus,form input[type="text"]:required:focus,.form input[type="text"]:required:focus,form input[type="password"]:required:focus,.form input[type="password"]:required:focus,form input[type="date"]:required:focus,.form input[type="date"]:required:focus,form input[type="datetime"]:required:focus,.form input[type="datetime"]:required:focus,form input[type="email"]:required:focus,.form input[type="email"]:required:focus,form input[type="number"]:required:focus,.form input[type="number"]:required:focus,form input[type="search"]:required:focus,.form input[type="search"]:required:focus,form input[type="tel"]:required:focus,.form input[type="tel"]:required:focus,form input[type="time"]:required:focus,.form input[type="time"]:required:focus,form input[type="url"]:required:focus,.form input[type="url"]:required:focus,form select:required:focus,.form select:required:focus,form textarea:required:focus,.form textarea:required:focus{border-color:#e74c3c !important;background-color:#fef6f5}
form input[type="text"]:focus,.form input[type="text"]:focus,form input[type="password"]:focus,.form input[type="password"]:focus,form input[type="date"]:focus,.form input[type="date"]:focus,form input[type="datetime"]:focus,.form input[type="datetime"]:focus,form input[type="email"]:focus,.form input[type="email"]:focus,form input[type="number"]:focus,.form input[type="number"]:focus,form input[type="search"]:focus,.form input[type="search"]:focus,form input[type="tel"]:focus,.form input[type="tel"]:focus,form input[type="time"]:focus,.form input[type="time"]:focus,form input[type="url"]:focus,.form input[type="url"]:focus,form select:focus,.form select:focus,form textarea:focus,.form textarea:focus{border-color:#89939a;background-color:#eff0f1}
form .select:after,.form .select:after{color:#bdc3c7}
form input[type="checkbox"],.form input[type="checkbox"],form input[type="radio"],.form input[type="radio"]{background:#fff;border:.15em solid #bdc3c7;}
form input[type="checkbox"]:checked,.form input[type="checkbox"]:checked,form input[type="radio"]:checked,.form input[type="radio"]:checked{border-color:#26b9cc;}
form input[type="checkbox"]:checked:after,.form input[type="checkbox"]:checked:after,form input[type="radio"]:checked:after,.form input[type="radio"]:checked:after{color:#26b9cc}
form label,.form label{font-weight:bold}
form [data-control="checkbox"],.form [data-control="checkbox"]{background:#a6a6a6;color:#d2d2d2;-webkit-border-radius:1em;-moz-border-radius:1em;-ms-border-radius:1em;border-radius:1em;}
form [data-control="checkbox"],.form [data-control="checkbox"],form [data-control="checkbox"] label,.form [data-control="checkbox"] label{-webkit-transition:all 300ms ease;-moz-transition:all 300ms ease;-ms-transition:all 300ms ease;transition:all 300ms ease}form [data-control="checkbox"] label,.form [data-control="checkbox"] label{-webkit-border-radius:1em;-moz-border-radius:1em;-ms-border-radius:1em;border-radius:1em;background:#6f6f6f}
form [data-control="checkbox"].checked,.form [data-control="checkbox"].checked{background-color:#26b9cc;color:#fff !important;}
form [data-control="checkbox"].checked label,.form [data-control="checkbox"].checked label{background-color:#38950e}

ul{list-style:disc;}
ul.square li,ul.circle li{margin:0 0 .3em .6em}
ul:not(.none) li{padding:0;background:none}
ul.empty{list-style:none outside;margin:0}
ul.square,ul.square ul{list-style:square outside}
ul.circle,ul.circle ul{list-style:circle outside}
ol{margin:0 0 .3em .6em;list-style:decimal;}
ol li{padding:0}
ul ul,ol ul,ul ol,ol ol{margin:.5em;}
ul ul li,ol ul li,ul ol li,ol ol li{margin:0 0 .3em 0}

[data-tuktuk="modal"]{background:#fff;-webkit-transition:all 250ms;-moz-transition:all 250ms;-ms-transition:all 250ms;transition:all 250ms;}
[data-tuktuk="modal"] header{background:#26b9cc !important;color:#fff}
[data-tuktuk="lock"]{opacity:0;-webkit-transition:all 250ms;-moz-transition:all 250ms;-ms-transition:all 250ms;transition:all 250ms;}
[data-tuktuk="lock"].active{opacity:1;}
[data-tuktuk="lock"].active:not([data-active=true]){background-color:rgba(0,0,0,0.8)}
[data-tuktuk="lock"].active[data-loading=true]{background-color:rgba(0,0,0,0);}
[data-tuktuk="lock"].active[data-loading=true] > .loading{background-color:rgba(0,0,0,0.5);-webkit-border-radius:.1rem;-moz-border-radius:.1rem;-ms-border-radius:.1rem;border-radius:.1rem;}
[data-tuktuk="lock"].active[data-loading=true] > .loading::before,[data-tuktuk="lock"].active[data-loading=true] > .loading::after{background:#fff;-webkit-border-radius:1em;-moz-border-radius:1em;-ms-border-radius:1em;border-radius:1em}
nav[data-tuktuk=menu] > a{-webkit-border-radius:.1rem;-moz-border-radius:.1rem;-ms-border-radius:.1rem;border-radius:.1rem;}
nav[data-tuktuk=menu] > a:hover{background-color:rgba(0,0,0,0.05);color:#222}nav[data-tuktuk=menu] > a.active{background-color:rgba(0,0,0,0.1)}nav[data-tuktuk=menu] > a:hover .icon,nav[data-tuktuk=menu] > a.active .icon{color:#26b9cc}
nav[data-tuktuk=menu] > a:not(.active):not(:hover) > .icon,nav[data-tuktuk=menu] > a small{opacity:.75;font-weight:400}
.bck.theme nav[data-tuktuk=menu] > a.active .icon,.bck.theme nav[data-tuktuk=menu] > a:hover .icon{color:#222}
[data-tuktuk=boxes] ::-webkit-scrollbar{width:0;height:0}[data-tuktuk=boxes] ::-webkit-scrollbar-thumb:vertical{background-color:rgba(0,0,0,0.5)}
[data-tuktuk=boxes] ::-webkit-scrollbar-thumb:horizontal{background-color:rgba(0,0,0,0.5)}
[data-tuktuk=boxes] ::-webkit-scrollbar-corner:vertical{background-color:rgba(0,0,0,0.5)}
[data-tuktuk=boxes] ::-webkit-scrollbar-resizer:vertical{background-color:rgba(0,0,0,0.5)}
table{background:#fff;color:rgba(0,0,0,0.5);border:.1em solid rgba(191,191,191,0.5);}
table tr:nth-child(even) td{background-color:rgba(242,242,242,0.5)}
table th{background-color:rgba(191,191,191,0.5);color:#fff}
table td.highlight{background-color:#26b9cc !important;color:#fff}

[data-tip]:before,[data-tip]:after{-webkit-transition:all 300ms;-moz-transition:all 300ms;-ms-transition:all 300ms;transition:all 300ms}
[data-tip]:before{background:transparent;border:.5em solid transparent}
[data-tip]:after{background:rgba(0,0,0,0.75);color:#fff;-webkit-text-shadow:0 -.15em 0 #000;-moz-text-shadow:0 -.15em 0 #000;-ms-text-shadow:0 -.15em 0 #000;text-shadow:0 -.15em 0 #000;font-weight:bold;-webkit-box-shadow:0 0 1em rgba(0,0,0,0.25);-moz-box-shadow:0 0 1em rgba(0,0,0,0.25);-ms-box-shadow:0 0 1em rgba(0,0,0,0.25);box-shadow:0 0 1em rgba(0,0,0,0.25)}
[data-tip]:not(.tip-top):not(.tip-right):not(.tip-left):before{border-bottom-color:rgba(0,0,0,0.75)}
[data-tip].tip-top:before{border-top-color:rgba(0,0,0,0.75)}
[data-tip].tip-left:before{border-left-color:rgba(0,0,0,0.75)}
[data-tip].tip-right:before{border-right-color:rgba(0,0,0,0.75)}

div.img{background:#ddd;height:64px;}
div.img.h128{height:128px}
div.img.h256{height:256px}
div.img.h512{height:512px}
:not(.icon).tag{position:relative;top:-2px;padding:1px 3px;font-weight:bold !important;font-size:9px !important;text-transform:uppercase;color:#fff !important;border:solid 1px rgba(0,0,0,0.1);-webkit-border-radius:2px;-moz-border-radius:2px;-ms-border-radius:2px;border-radius:2px}
hr{margin:15px 0;background:#ddd;background-color:rgba(0,0,0,0.1)}

.shadow-top{-webkit-box-shadow: 0px -10px 30px -4px rgba(0,0,0,0.5);-moz-box-shadow: 0px -10px 30px -4px rgba(0,0,0,0.5);box-shadow: 0px -10px 30px -4px rgba(0,0,0,0.5);}
.shadow-bottom{-webkit-box-shadow: 0px 10px 30px -4px rgba(0,0,0,0.5);-moz-box-shadow: 0px 10px 30px -4px rgba(0,0,0,0.5);box-shadow: 0px 10px 30px -4px rgba(0,0,0,0.5);}
.radius{-webkit-border-radius:.1rem;-moz-border-radius:.1rem;-ms-border-radius:.1rem;border-radius:.1rem}

section > .overlay{width:100%;height:100%;}
section > .overlay.theme{background-color:rgba(38,185,204,0.3); color: white}
section > .overlay.dark{background-color:rgba(0,0,0,0.9)}
section > .overlay > .row{padding:4rem 0 5rem 0}
body > section.landing{padding:0;}
body > section.landing > .overlay > .row{padding:210px 0;}
body > section.landing > .overlay > .row .button,body > section.landing > .overlay > .row button{font-size:1.5rem;font-weight:500;line-height:3.5rem;padding:0 4rem;-webkit-border-radius:.15rem;-moz-border-radius:.15rem;-ms-border-radius:.15rem;border-radius:.15rem}
body > section.landing > .overlay > .row h5{font-weight:300;font-size:1.1rem}
body > section.landing .overlay a{line-height:4rem !important;}
body > section.landing .overlay a > span{font-weight:300}
body > section.landing .overlay a,body > section.landing .overlay code,body > section.landing .overlay small{display:block;width:75%;margin:0 auto}
body > section.landing .overlay small{padding:.5rem 0;font-weight:normal;opacity:.75}
body > section.landing .overlay code{margin-top:1rem;padding:0 3.5rem;font-size:1.5rem;line-height:4rem;color:rgba(255,255,255,0.75);background-color:rgba(0,0,0,0.75);}
body > section.landing .overlay code > strong{font-weight:900;color:#fff}
body > section.landing .overlay code > span{margin-right:1rem;font-weight:900;color:#a9d866}
body > section:not(.product) > .row,body > section > .overlay > .row{padding:4rem 0}

body > header .logo{display:inline-block;margin:.25rem .5rem 0 0;width:4rem;height:50px;background-image:url("../img/AdMeetLogo.png");-webkit-background-size:contain;-moz-background-size:contain;-ms-background-size:contain;background-size:contain;background-repeat:no-repeat;-webkit-transition:all 300ms;-moz-transition:all 300ms;-ms-transition:all 300ms;transition:all 300ms}
body > header .avatar{-webkit-background-size:cover;-moz-background-size:cover;-ms-background-size:cover;background-size:cover;-webkit-border-radius:50%;-moz-border-radius:50%;-ms-border-radius:50%;border-radius:50%;-webkit-box-shadow:0 0 0 2px rgba(255,255,255,0.25);-moz-box-shadow:0 0 0 2px rgba(255,255,255,0.25);-ms-box-shadow:0 0 0 2px rgba(255,255,255,0.25);box-shadow:0 0 0 2px rgba(255,255,255,0.25);cursor:pointer;}
body > header .avatar:hover{-webkit-box-shadow:0 0 0 2px #fff;-moz-box-shadow:0 0 0 2px #fff;-ms-box-shadow:0 0 0 2px #fff;box-shadow:0 0 0 2px #fff}
body > header{padding-top:.5rem;padding-bottom:.5rem;-webkit-transition:background 500ms;-moz-transition:background 500ms;-ms-transition:background 500ms;transition:background 500ms;background-color:rgba(255,255,255,0.1);}
body > header.scroll{background-color:rgba(0,0,0,0.65);}
body > header.scroll nav > a:not(.button){font-weight:500;}
body > header.scroll nav > a:not(.button):hover{-webkit-box-shadow:inset 0 -.2rem #3498db;-moz-box-shadow:inset 0 -.2rem #3498db;-ms-box-shadow:inset 0 -.2rem #3498db;box-shadow:inset 0 -.2rem #3498db}
body > header nav > *{display:inline-block;vertical-align:middle}
body > header nav > a{font-weight:400;}
body > header nav > a.avatar{width:2rem;height:2rem;margin-left:1rem;-webkit-background-size:cover;-moz-background-size:cover;-ms-background-size:cover;background-size:cover}
body > header nav > a:not(.logo):not(.avatar):not(.button){-webkit-transition:box-shadow 300ms;-moz-transition:box-shadow 300ms;-ms-transition:box-shadow 300ms;transition:box-shadow 300ms;padding:0 .25rem;}
body > header nav > a:not(.logo):not(.avatar):not(.button),body > header nav > a:not(.logo):not(.avatar):not(.button):hover{color:#fff}
body > header nav > a:not(.logo):not(.avatar):not(.button):hover{-webkit-box-shadow:inset 0 -.2rem rgba(0,0,0,0.25);-moz-box-shadow:inset 0 -.2rem rgba(0,0,0,0.25);-ms-box-shadow:inset 0 -.2rem rgba(0,0,0,0.25);box-shadow:inset 0 -.2rem rgba(0,0,0,0.25)}
body > header nav > .button > abbr{font-weight:700 !important}
body > header{z-index:1980;position:fixed;top:0;width:100%;}
body > header nav > *{font-size:.9rem;display:inline-block;}
body > header nav > *.active{font-weight:700}

