/**
 * Tuktuk - Simple (but powerful) RWD Framework
 * @version v1.0.0
 * @link    http://tuktuk.tapquo.com
 * @author   ()
 * @license MIT
 */
[data-tuktuk=accordion]{overflow:hidden;margin:0;}
[data-tuktuk=accordion] > [data-accordion=content]{margin:0;-webkit-transition:all ease .2s;-moz-transition:all ease .2s;-ms-transition:all ease .2s;transition:all ease .2s;max-height:0;list-style:none;}
[data-tuktuk=accordion] > [data-accordion=content] li:not([data-tuktuk=accordion]){padding:1em;margin:0}
[data-tuktuk=accordion] > [data-accordion=activator]{padding:1em;display:block;width:100%;height:100%;cursor:pointer;}
[data-tuktuk=accordion] > [data-accordion=activator]:hover{background-color:#26B9CC/*rgba(0,0,0,0.4)*/}
[data-tuktuk=accordion] > [data-accordion=activator]::after{-webkit-transition:all ease .5s;-moz-transition:all ease .5s;-ms-transition:all ease .5s;transition:all ease .5s;content:">";vertical-align:middle;float:right}
[data-tuktuk=accordion].active > [data-accordion=activator]{font-weight:700;}
[data-tuktuk=accordion].active > [data-accordion=activator]::after{-webkit-transform:rotate(90deg);-moz-transform:rotate(90deg);-ms-transform:rotate(90deg);transform:rotate(90deg)}
[data-tuktuk=accordion].active > [data-accordion=content]{background-color:#0000/*rgba(0,0,0,0.1)*/;-webkit-transition:max-height ease 1.5s;-moz-transition:max-height ease 1.5s;-ms-transition:max-height ease 1.5s;transition:max-height ease 1.5s;max-height:999px}

[data-tuktuk=boxes]{display:flex;-webkit-align-content:stretch;-moz-align-content:stretch;-ms-align-content:stretch;align-content:stretch;overflow:hidden;}
[data-tuktuk=boxes] > aside,[data-tuktuk=boxes] > section{display:flex;-webkit-flex-direction:column;-moz-flex-direction:column;-ms-flex-direction:column;flex-direction:column;height:inherit;margin:0;padding:0;}
[data-tuktuk=boxes] > aside > header,[data-tuktuk=boxes] > section > header,[data-tuktuk=boxes] > aside > footer,[data-tuktuk=boxes] > section > footer{-webkit-flex-shrink:0;-moz-flex-shrink:0;-ms-flex-shrink:0;flex-shrink:0;display:block;height:4rem;line-height:4rem;padding:0 1em}
[data-tuktuk=boxes] > aside > header,[data-tuktuk=boxes] > section > header{-webkit-order:1;-moz-order:1;-ms-order:1;order:1}
[data-tuktuk=boxes] > aside > article,[data-tuktuk=boxes] > section > article{-webkit-order:2;-moz-order:2;-ms-order:2;order:2;-webkit-flex-shrink:1;-moz-flex-shrink:1;-ms-flex-shrink:1;flex-shrink:1;height:inherit}
[data-tuktuk=boxes] > aside > footer,[data-tuktuk=boxes] > section > footer{-webkit-order:3;-moz-order:3;-ms-order:3;order:3}
[data-tuktuk=boxes] > aside{-webkit-flex-shrink:0;-moz-flex-shrink:0;-ms-flex-shrink:0;flex-shrink:0;width:16rem;}
[data-tuktuk=boxes] > aside.absolute{z-index:1980;position:absolute;}
[data-tuktuk=boxes] > aside.absolute:not(.right){-webkit-transform:translateX(-100%);-moz-transform:translateX(-100%);-ms-transform:translateX(-100%);transform:translateX(-100%)}
[data-tuktuk=boxes] > aside.absolute.right{-webkit-transform:translateX(100%);-moz-transform:translateX(100%);-ms-transform:translateX(100%);transform:translateX(100%);right:0}
[data-tuktuk=boxes] > aside.absolute.active{-webkit-transform:translateX(0) !important;-moz-transform:translateX(0) !important;-ms-transform:translateX(0) !important;transform:translateX(0) !important}

.button,button{position:relative;display:inline-block;border:none;cursor:pointer;font-size:inherit;font-family:inherit;font-weight:inherit;line-height:2.5rem;text-align:center;text-decoration:none;outline:none;background:none;}
.button.icon,button.icon{padding:0 1rem}
.button:not(.icon),button:not(.icon){padding:0 2rem;}
.button:not(.icon) .icon,button:not(.icon) .icon,.button:not(.icon) .loading,button:not(.icon) .loading{margin-right:.25em}
.button.large,button.large{font-size:1.4em;line-height:4rem;padding:0 3.5rem}
.button.small,button.small{font-size:.9em}
.button.tiny,button.tiny{font-size:.8em;line-height:1.5rem;padding:0 1rem}
.button.anchor,button.anchor{width:100%;}
.button.anchor:not(.icon) .icon,button.anchor:not(.icon) .icon{position:absolute;left:1em}
.button.disabled,button.disabled,.button:disabled,button:disabled{cursor:default}

h1,h2,h3,h4,h5,h6{margin:0;padding:0;line-height:inherit}
h1{font-size:2.6rem}
h2{font-size:2.2rem}
h3{font-size:1.8rem}
h4{font-size:1.6rem}
h5{font-size:1.3rem}
h6{font-size:1rem}

.text.thin{font-weight:200}
.text.book{font-weight:300}
.text.normal{font-weight:400}
.text.bold{font-weight:700}
.text.italic{font-style:italic}
.text.underline{text-decoration:underline}
.text.uppercase{text-transform:uppercase}
.text.tiny{font-size:.8em}
.text.small{font-size:.9em}
.text.big{font-size:1.2em}
.text.large{font-size:1.4em}

.align.left,.text.left{text-align:left}
.align.right,.text.right{text-align:right}
.align.center,.text.center{text-align:center}
.align.justify,.text.justify{text-align:justify}

small{font-size:.9em}
strong{font-weight:bold}

form input[type="text"],.form input[type="text"],form input[type="password"],.form input[type="password"],form input[type="date"],.form input[type="date"],form input[type="datetime"],.form input[type="datetime"],form input[type="email"],.form input[type="email"],form input[type="number"],.form input[type="number"],form input[type="search"],.form input[type="search"],form input[type="tel"],.form input[type="tel"],form input[type="time"],.form input[type="time"],form input[type="url"],.form input[type="url"],form select,.form select,form textarea,.form textarea{display:inline-block;width:100%;padding:.5em;margin:.1em 0 .25em 0;font-family:inherit;font-size:inherit;-webkit-appearance:none;-webkit-user-select:text;-webkit-font-smoothing:antialiased;}
form input[type="text"]:focus,.form input[type="text"]:focus,form input[type="password"]:focus,.form input[type="password"]:focus,form input[type="date"]:focus,.form input[type="date"]:focus,form input[type="datetime"]:focus,.form input[type="datetime"]:focus,form input[type="email"]:focus,.form input[type="email"]:focus,form input[type="number"]:focus,.form input[type="number"]:focus,form input[type="search"]:focus,.form input[type="search"]:focus,form input[type="tel"]:focus,.form input[type="tel"]:focus,form input[type="time"]:focus,.form input[type="time"]:focus,form input[type="url"]:focus,.form input[type="url"]:focus,form select:focus,.form select:focus,form textarea:focus,.form textarea:focus{outline:none !important}
form input[type="text"].large,.form input[type="text"].large,form input[type="password"].large,.form input[type="password"].large,form input[type="date"].large,.form input[type="date"].large,form input[type="datetime"].large,.form input[type="datetime"].large,form input[type="email"].large,.form input[type="email"].large,form input[type="number"].large,.form input[type="number"].large,form input[type="search"].large,.form input[type="search"].large,form input[type="tel"].large,.form input[type="tel"].large,form input[type="time"].large,.form input[type="time"].large,form input[type="url"].large,.form input[type="url"].large,form select.large,.form select.large,form textarea.large,.form textarea.large{font-size:1.4em}form textarea,.form textarea{padding:.4em .5em;min-height:2.5em;line-height:1.2em}
form label,.form label{font-size:.9em}
form input[type="checkbox"],.form input[type="checkbox"],form input[type="radio"],.form input[type="radio"]{display:inline-block !important;margin-right:.2em;font-family:inherit;font-size:inherit;width:1.45em;height:1.45em;line-height:1em;-webkit-appearance:none;text-align:center;}
form input[type="checkbox"]:after,.form input[type="checkbox"]:after,form input[type="radio"]:after,.form input[type="radio"]:after{content:"+";opacity:0;font-size:1.2em;line-height:.9em}
form input[type="checkbox"]:checked:after,.form input[type="checkbox"]:checked:after,form input[type="radio"]:checked:after,.form input[type="radio"]:checked:after{opacity:1}
form input[type="checkbox"]:checked:after,.form input[type="checkbox"]:checked:after{content:"✔"}
form input[type="radio"],.form input[type="radio"]{-webkit-border-radius:1em;-moz-border-radius:1em;-ms-border-radius:1em;border-radius:1em;}
form input[type="radio"]:checked:after,.form input[type="radio"]:checked:after{content:"·"}
form .select,.form .select{position:relative;display:block;}
form .select:after,.form .select:after{z-index:128;position:absolute;top:.8em;right:.5em;content:"▼";pointer-events:none}
form .fieldset label,.form .fieldset label,form fieldset label,.form fieldset label{display:block;text-align:right;float:left;width:25%;padding:.2em .4em 0 0;}
form .fieldset label > small,.form .fieldset label > small,form fieldset label > small,.form fieldset label > small{display:block;font-size:.8em;font-weight:300}
form .fieldset input[type="text"],.form .fieldset input[type="text"],form fieldset input[type="text"],.form fieldset input[type="text"],form .fieldset input[type="password"],.form .fieldset input[type="password"],form fieldset input[type="password"],.form fieldset input[type="password"],form .fieldset input[type="date"],.form .fieldset input[type="date"],form fieldset input[type="date"],.form fieldset input[type="date"],form .fieldset input[type="datetime"],.form .fieldset input[type="datetime"],form fieldset input[type="datetime"],.form fieldset input[type="datetime"],form .fieldset input[type="email"],.form .fieldset input[type="email"],form fieldset input[type="email"],.form fieldset input[type="email"],form .fieldset input[type="number"],.form .fieldset input[type="number"],form fieldset input[type="number"],.form fieldset input[type="number"],form .fieldset input[type="search"],.form .fieldset input[type="search"],form fieldset input[type="search"],.form fieldset input[type="search"],form .fieldset input[type="tel"],.form .fieldset input[type="tel"],form fieldset input[type="tel"],.form fieldset input[type="tel"],form .fieldset input[type="time"],.form .fieldset input[type="time"],form fieldset input[type="time"],.form fieldset input[type="time"],form .fieldset input[type="url"],.form .fieldset input[type="url"],form fieldset input[type="url"],.form fieldset input[type="url"],form .fieldset select,.form .fieldset select,form fieldset select,.form fieldset select,form .fieldset textarea,.form .fieldset textarea,form fieldset textarea,.form fieldset textarea{width:75%}

[data-control=checkbox]{display:inline-block;margin:.1em 0 .25em 0;height:32px;width:64px;position:relative;font-size:inherit;line-height:32px;}
[data-control=checkbox] input[type=checkbox]{visibility:hidden}
[data-control=checkbox]:after,[data-control=checkbox]:before{z-index:0;position:absolute}
[data-control=checkbox]:before{left:1em;opacity:0}
[data-control=checkbox]:after{right:1em}
[data-control=checkbox].checked:before{opacity:1;z-index:1}
[data-control=checkbox].checked:after{opacity:0;z-index:0}
[data-control=checkbox] label{display:block;height:28px;width:28px;margin:2px;cursor:pointer;position:absolute;top:0;left:0;z-index:1}
[data-control=checkbox] input[type=checkbox]:checked + label{left:32px}

.row{margin:0 auto;width:960px;overflow:hidden;display:block;}
.row .row{margin:0 -16px 0 -16px;width:auto;display:inline-block}

[class^="column_"],[class*=" column_"]{margin:0 16px 0 16px;float:left;display:inline}
.column_1{width:48px}
.column_2{width:128px}
.column_3{width:208px}
.column_4{width:288px}
.column_5{width:368px}
.column_6{width:448px}
.column_7{width:528px}
.column_8{width:608px}
.column_9{width:688px}
.column_10{width:768px}
.column_11{width:848px}
.column_12{width:928px}
.offset_1{margin-left:96px}
.offset_2{margin-left:176px}
.offset_3{margin-left:256px}
.offset_4{margin-left:336px}
.offset_5{margin-left:416px}
.offset_6{margin-left:496px}
.offset_7{margin-left:576px}
.offset_8{margin-left:656px}
.offset_9{margin-left:736px}
.offset_10{margin-left:816px}
.offset_11{margin-left:896px}

.show-phone{display:none !important}
.show-tablet{display:none !important}
.show-screen{display:inherit !important}
.hide-phone{display:inherit !important}
.hide-tablet{display:inherit !important}
.hide-screen{display:none !important}

@media only screen and (min-width:1200px){
    .row{width:1200px;}
    .row .row{margin:0 -20px 0 -20px}
    [class^="column_"],[class*=" column_"]{margin:0 20px 0 20px}
    .column_1{width:60px}
    .column_2{width:160px}
    .column_3{width:260px}
    .column_4{width:360px}
    .column_5{width:460px}
    .column_6{width:560px}
    .column_7{width:660px}
    .column_8{width:760px}
    .column_9{width:860px}
    .column_10{width:960px}
    .column_11{width:1060px}
    .column_12{width:1160px}
    .offset_1{margin-left:120px}
    .offset_2{margin-left:220px}
    .offset_3{margin-left:320px}
    .offset_4{margin-left:420px}
    .offset_5{margin-left:520px}
    .offset_6{margin-left:620px}
    .offset_7{margin-left:720px}
    .offset_8{margin-left:820px}
    .offset_9{margin-left:920px}
    .offset_10{margin-left:1020px}
    .offset_11{margin-left:1120px}
    .show-phone{display:none !important}
    .show-tablet{display:none !important}
    .show-screen{display:inherit}
    .hide-phone{display:inherit !important}
    .hide-tablet{display:inherit !important}
    .hide-screen{display:none !important}
}

@media only screen and (min-width:768px) and (max-width:959px){
    .row{width:768px;}
    .row .row{margin:0 -14px 0 -14px}
    [class^="column_"],[class*=" column_"]{margin:0 14px 0 14px}
    .column_1{width:36px}
    .column_2{width:100px}
    .column_3{width:164px}
    .column_4{width:228px}
    .column_5{width:292px}
    .column_6{width:356px}
    .column_7{width:420px}
    .column_8{width:484px}
    .column_9{width:548px}
    .column_10{width:612px}
    .column_11{width:676px}
    .column_12{width:740px}
    .offset_1{margin-left:78px}
    .offset_2{margin-left:142px}
    .offset_3{margin-left:206px}
    .offset_4{margin-left:270px}
    .offset_5{margin-left:334px}
    .offset_6{margin-left:398px}
    .offset_7{margin-left:462px}
    .offset_8{margin-left:526px}
    .offset_9{margin-left:590px}
    .offset_10{margin-left:654px}
    .offset_11{margin-left:718px}
    .show-phone{display:none !important}
    .show-tablet{display:inherit !important}
    .show-screen{display:none !important}
    .hide-phone{display:inherit !important}
    .hide-tablet{display:none !important}
    .hide-screen{display:inherit !important}
}

@media only screen and (max-width:767px){
    .row{width:300px;}
    .row .row{margin:0}
    [class^="column_"],[class*=" column_"]{width:300px;margin:10px 0 0 0}
    .offset_1,.offset_2,.offset_3,.offset_4,.offset_5,.offset_6,.offset_7,.offset_8,.offset_9,.offset_10,.offset_11{margin-left:0}
    .show-phone{display:inherit !important}
    .show-tablet{display:none !important}
    .show-screen{display:none !important}
    .hide-phone{display:none !important}
    .hide-tablet{display:inherit !important}
    .hide-screen{display:inherit !important}
}

@media only screen and (min-width:480px) and (max-width:767px){
    .row{margin:0 auto;width:456px}
    .row .row{margin:0;width:auto;display:inline-block}
    [class^="column_"],[class*=" column_"]{margin:10px 0 0 0;width:456px}
    .show-phone,.hide-tablet,.hide-screen{display:inherit !important}
    .show-tablet,.show-screen,.hide-phone{display:none !important}
}

html,body,div,span,applet,object,
iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-weight:inherit;vertical-align:baseline}
body,html{height:100%;width:100%}
body{margin:0;padding:0;-webkit-font-smoothing:antialiased;-webkit-text-size-adjust:none;}
body *{margin:0;padding:0}
body > header{line-height:48px;}
body > header nav a{margin:0 .5em;}
body > header nav a:last-child{margin-right:0}
body > section.padding{padding:4em 0}
body > section.landing{padding:6em 0;}
body > section.landing h1{font-size:8em}
body > section.landing h2{font-size:4em}
body > section.landing h3{font-size:2.8em}

a{text-decoration:none;outline:0}
ul{list-style:disc;}
ul.square li,ul.circle li{margin:0 0 .3em .6em}
ul:not(.none) li{padding:0;background:none}
ul.empty{list-style:none outside;margin:0}
ul.square,ul.square ul{list-style:square outside}
ul.circle,ul.circle ul{list-style:circle outside}
ol{margin:0 0 .3em .6em;list-style:decimal;}
ol li{padding:0}
ul ul,ol ul,ul ol,ol ol{margin:.5em;}
ul ul li,ol ul li,ul ol li,ol ol li{margin:0 0 .3em 0}

@media only screen and (min-width:1200px){
    header{height:auto}
}
@media only screen and (min-width:960px) and (max-width:1199px){
    header{height:auto}
}
@media only screen and (min-width:768px) and (max-width:959px){
    header{height:auto}
}
@media only screen and (min-width:480px) and (max-width:767px){
    header{height:auto !important}
}
@media only screen and (max-width:767px){
    header{height:auto !important}
}
@media only screen and (max-width:767px){
    body{font-size:13px !important}
    header{height:auto !important;line-height:32px}
    nav button,nav .button,nav a{text-align:center;display:block !important;margin:2px 0 !important;line-height:32px}
    nav.group a{border:none !important}
}
@media only screen and (-webkit-min-device-pixel-ratio:1.5){
    header{height:auto}
}
@media only screen and (max-width:528px){
    [data-tuktuk="modal"]{left:5% !important;width:90% !important;margin-left:0 !important}
}

[data-tuktuk="modal"]{position:fixed;left:50%;-webkit-transform:translateY(-100%);-moz-transform:translateY(-100%);-ms-transform:translateY(-100%);transform:translateY(-100%);visibility:hidden;z-index:1983;-webkit-flex-direction:column;-moz-flex-direction:column;-ms-flex-direction:column;flex-direction:column;}
[data-tuktuk="modal"] header{padding:.526315789473684em 1em}
[data-tuktuk="modal"] article,[data-tuktuk="modal"] footer{padding:.666666666666667em 1em}
[data-tuktuk="modal"] article [class^="column_"]{margin:0 !important}
[data-tuktuk="modal"].active{top:5%;-webkit-transform:translateY(0%);-moz-transform:translateY(0%);-ms-transform:translateY(0%);transform:translateY(0%);visibility:visible}
[data-tuktuk="modal"]:not(.side){margin-top:0 !important;margin-right:0 !important;}
[data-tuktuk="modal"]:not(.side).column_5{margin-left:-184px}
[data-tuktuk="modal"]:not(.side).column_6{margin-left:-224px}
[data-tuktuk="modal"]:not(.side).column_7{margin-left:-264px}
[data-tuktuk="modal"]:not(.side).column_8{margin-left:-304px}
[data-tuktuk="modal"]:not(.side).column_9{margin-left:-344px}
[data-tuktuk="modal"]:not(.side).column_10{margin-left:-384px}
[data-tuktuk="modal"]:not(.side).column_11{margin-left:-424px}
[data-tuktuk="modal"]:not(.side).column_12{margin-left:-464px}
[data-tuktuk="modal"]{width:288px}
[data-tuktuk="modal"].column_5{width:368px}
[data-tuktuk="modal"].column_6{width:448px}
[data-tuktuk="modal"].column_7{width:528px}
[data-tuktuk="modal"].column_8{width:608px}
[data-tuktuk="modal"].column_9{width:688px}
[data-tuktuk="modal"].column_10{width:768px}
[data-tuktuk="modal"].column_11{width:848px}
[data-tuktuk="modal"].column_12{width:928px}
[data-tuktuk="modal"].side{position:absolute;display:flex;-webkit-flex-direction:column;-moz-flex-direction:column;-ms-flex-direction:column;flex-direction:column;top:0;right:0;bottom:0;left:auto;margin:0;-webkit-transform:translateX(100%);-moz-transform:translateX(100%);-ms-transform:translateX(100%);transform:translateX(100%);}
[data-tuktuk="modal"].side.active{-webkit-transform:translateX(0%);-moz-transform:translateX(0%);-ms-transform:translateX(0%);transform:translateX(0%)}
[data-tuktuk="lock"]{display:none;width:100%;height:100%;position:fixed;top:0;bottom:0;left:0;z-index:1980;visibility:hidden;}
[data-tuktuk="lock"].active{visibility:visible;}
[data-tuktuk="lock"].active[data-loading=true] > .loading{display:block}
[data-tuktuk="lock"] > .loading{display:none;position:fixed;left:50%;top:50%;width:5.5em;height:2.75em;margin-left:-2.75em;margin-top:-2.75em;}
[data-tuktuk="lock"] > .loading::before,[data-tuktuk="lock"] > .loading::after{content:"";position:absolute;display:block;top:.61624649859944em;width:1.571428571428571em;height:1.571428571428571em;-webkit-animation:loading-dots 1s infinite;-moz-animation:loading-dots 1s infinite;-ms-animation:loading-dots 1s infinite;animation:loading-dots 1s infinite}
[data-tuktuk="lock"] > .loading::before{left:.683229813664596em}
[data-tuktuk="lock"] > .loading::after{-webkit-animation:loading-dots 1s .5s infinite;-moz-animation:loading-dots 1s .5s infinite;-ms-animation:loading-dots 1s .5s infinite;animation:loading-dots 1s .5s infinite;right:.683229813664596em}

nav[data-tuktuk=menu] > a small{font-size:font-size-tiny;margin-left:.4em}
nav[data-tuktuk=menu] > a .icon{display:inline-block;width:1em;margin-right:.5em}
section nav[data-tuktuk=menu] > a,header nav[data-tuktuk=menu] > a,footer nav[data-tuktuk=menu] > a{line-height:2.5em;padding:0 1em;display:inline-block;}
section nav[data-tuktuk=menu] > a:not(:first-child),header nav[data-tuktuk=menu] > a:not(:first-child),footer nav[data-tuktuk=menu] > a:not(:first-child){margin-left:.5em}

[data-tuktuk=boxes] aside nav[data-tuktuk=menu]{margin:.5em;}
[data-tuktuk=boxes] aside nav[data-tuktuk=menu] > a{display:block;padding:.666666666666667em .5em}
[data-tuktuk=boxes] ::-webkit-scrollbar{width:.2rem;height:.2rem;position:absolute}
[data-tuktuk=boxes] ::-webkit-scrollbar-button:vertical{background-color:none}
[data-tuktuk=boxes] ::-webkit-scrollbar-button:start:decrement,[data-tuktuk=boxes] ::-webkit-scrollbar-button:end:increment{display:block}
[data-tuktuk=boxes] ::-webkit-scrollbar-button:vertical:start:increment,[data-tuktuk=boxes] ::-webkit-scrollbar-button:vertical:end:decrement{display:none}
[data-tuktuk=boxes] ::-webkit-scrollbar-button:vertical:increment{display:none}[data-tuktuk=boxes] ::-webkit-scrollbar-button:vertical:decrement{display:none}
[data-tuktuk=boxes] ::-webkit-scrollbar-button:horizontal:increment{display:none}
Place The scroll up button at the up,[data-tuktuk=boxes] ::-webkit-scrollbar-button:horizontal:decrement{display:none}
[data-tuktuk=boxes] ::-webkit-scrollbar-track:vertical{background-color:none}[data-tuktuk=boxes] ::-webkit-scrollbar-track-piece:vertical:start{border:0}
[data-tuktuk=boxes] ::-webkit-scrollbar-track-piece:vertical:end{border:0}
[data-tuktuk=boxes] ::-webkit-scrollbar-track-piece{background-color:none}
[data-tuktuk=boxes] ::-webkit-scrollbar-thumb:vertical{height:1em}
[data-tuktuk=boxes] ::-webkit-scrollbar-thumb:horizontal{height:1em}

table{margin:1em 0;width:100%;border-spacing:.1em;}
table td,table th{padding:.5em .5em}
table th,table td.highlight{font-weight:bold}

[data-tip]{position:relative;display:inline-block;}
[data-tip]:before,[data-tip]:after{position:absolute;opacity:0;z-index:1000000;pointer-events:none}
[data-tip]:before{content:'';position:absolute;background:transparent;z-index:1000001}
[data-tip]:after{content:attr(data-tip);color:#fff;padding:.5em;font-size:.8em;line-height:1em;white-space:nowrap}
[data-tip]:hover:before,[data-tip]:hover:after{opacity:1}
[data-tip]:not(.tip-top):not(.tip-right):not(.tip-left):before{margin-top:-12px}
[data-tip]:not(.tip-top):not(.tip-right):not(.tip-left):after{margin-left:-18px}
[data-tip]:not(.tip-top):not(.tip-right):not(.tip-left):before,[data-tip]:not(.tip-top):not(.tip-right):not(.tip-left):after{top:100%;left:50%}
[data-tip]:not(.tip-top):not(.tip-right):not(.tip-left):hover:before,[data-tip]:not(.tip-top):not(.tip-right):not(.tip-left):hover:after{-webkit-transform:translateY(8px);-moz-transform:translateY(8px);-ms-transform:translateY(8px);transform:translateY(8px)}[data-tip].tip-top:before{margin-bottom:-12px}[data-tip].tip-top:after{margin-left:-18px}[data-tip].tip-top:before,[data-tip].tip-top:after{bottom:100%;left:50%}
[data-tip].tip-top:hover:before,[data-tip].tip-top:hover:after{-webkit-transform:translateY(-8px);-moz-transform:translateY(-8px);-ms-transform:translateY(-8px);transform:translateY(-8px)}
[data-tip].tip-left:before{margin-right:-12px;margin-bottom:-6px}
[data-tip].tip-left:after{margin-bottom:-14px}
[data-tip].tip-left:before,[data-tip].tip-left:after{right:100%;bottom:50%}
[data-tip].tip-left:hover:before,[data-tip].tip-left:hover:after{-webkit-transform:translateX(-8px);-moz-transform:translateX(-8px);-ms-transform:translateX(-8px);transform:translateX(-8px)}
[data-tip].tip-right:before{margin-left:-12px;margin-bottom:-6px}
[data-tip].tip-right:after{margin-bottom:-14px}
[data-tip].tip-right:before,[data-tip].tip-right:after{left:100%;bottom:50%}
[data-tip].tip-right:hover:before,[data-tip].tip-right:hover:after{-webkit-transform:translateX(8px);-moz-transform:translateX(8px);-ms-transform:translateX(8px);transform:translateX(8px)}

.scroll{overflow-x:hidden;overflow-y:scroll;-webkit-overflow-scrolling:touch;-webkit-box-flex:1;}
.scroll.horizontal{overflow-x:scroll;overflow-y:hidden;white-space:nowrap}
.clear{clear:both}
.on-left{float:left}
.on-right{float:right}
.block{display:block}
.inline{display:inline-block}
.none{display:none}

.margin-none{margin:0}
.margin{margin:1em}
.margin-left{margin-left:1em}
.margin-right{margin-right:1em}
.margin-top{margin-top:1em}
.margin-bottom{margin-bottom:1em}
.padding-none{padding:0}
.padding{padding:1em !important}
.padding-left{padding-left:1em !important}
.padding-right{padding-right:1em !important}
.padding-top{padding-top:1em !important}
.padding-bottom{padding-bottom:1em !important}

div.img{height:64px;}
div.img.h128{height:128px}
div.img.h256{height:256px}
div.img.h512{height:512px}
img{border:0;-ms-interpolation-mode:bicubic;}
img.responsive{width:100%;height:auto;}
img.responsive.vertical{height:100%;width:auto}
img.responsive.rounded{-webkit-border-radius:50%;-moz-border-radius:50%;-ms-border-radius:50%;border-radius:50%}

:not(.icon).tag{position:relative;top:-2px;padding:1px 3px;font-weight:bold !important;font-size:9px !important;text-transform:uppercase}
hr{border:0;height:1px;margin:0}

[data-tuktuk=totals],[data-tuktuk=buttons]{display:flex;-webkit-align-content:stretch;-moz-align-content:stretch;-ms-align-content:stretch;align-content:stretch;}
[data-tuktuk=totals] > *,[data-tuktuk=buttons] > *{-webkit-flex-grow:1;-moz-flex-grow:1;-ms-flex-grow:1;flex-grow:1;text-align:center}
[data-tuktuk=totals]{text-align:center;list-style:none;}
[data-tuktuk=totals] > * > strong{display:block;font-size:1.8em;line-height:font-size-tiny}
[data-tuktuk=totals] > * > small{text-transform:uppercase;font-size:font-size-tiny}

[data-tuktuk=buttons] > *{display:inherit}

@-moz-keyframes loading-dots{0%{opacity:1;-webkit-transform:scale(1);-moz-transform:scale(1);-ms-transform:scale(1);transform:scale(1)}50%{opacity:.5;-webkit-transform:scale(.85);-moz-transform:scale(.85);-ms-transform:scale(.85);transform:scale(.85)}100%{opacity:1;-webkit-transform:scale(1);-moz-transform:scale(1);-ms-transform:scale(1);transform:scale(1)}}@-webkit-keyframes loading-dots{0%{opacity:1;-webkit-transform:scale(1);-moz-transform:scale(1);-ms-transform:scale(1);transform:scale(1)}50%{opacity:.5;-webkit-transform:scale(.85);-moz-transform:scale(.85);-ms-transform:scale(.85);transform:scale(.85)}100%{opacity:1;-webkit-transform:scale(1);-moz-transform:scale(1);-ms-transform:scale(1);transform:scale(1)}}@-o-keyframes loading-dots{0%{opacity:1;-webkit-transform:scale(1);-moz-transform:scale(1);-ms-transform:scale(1);transform:scale(1)}50%{opacity:.5;-webkit-transform:scale(.85);-moz-transform:scale(.85);-ms-transform:scale(.85);transform:scale(.85)}100%{opacity:1;-webkit-transform:scale(1);-moz-transform:scale(1);-ms-transform:scale(1);transform:scale(1)}}@keyframes loading-dots{0%{opacity:1;-webkit-transform:scale(1);-moz-transform:scale(1);-ms-transform:scale(1);transform:scale(1)}50%{opacity:.5;-webkit-transform:scale(.85);-moz-transform:scale(.85);-ms-transform:scale(.85);transform:scale(.85)}100%{opacity:1;-webkit-transform:scale(1);-moz-transform:scale(1);-ms-transform:scale(1);transform:scale(1)}}


          /*Modificado por Encarna*/
.contenidos_acordeon
{
    padding-left: 32px;
}

#titulo h1
{
    padding-top: 15px;
    font-size: 60px;
    letter-spacing: 5px;
}
}